@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ecedf2;
  --color: #2e2d37;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-light: #ecedf2;
    --color: #2e2d37;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
