@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ecedf2;
  --color: #2e2d37;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-light: #ecedf2;
    --color: #2e2d37;
  }
}

body {
  color: rgb(var(--color));
  /* background: var(--background-light); */
  min-height: 100vh;
}
